h1{
    color: black;
    font-family: fantasy;
    font-size: 50px;
}
 mainflag{
    height: 300px;
    width: 600px;
    background-color: green;
    align-items: center;
    display: flex;
}
circle{
    background-color: red;
    height: 150px;
    width: 150px;
    display: flex;
    margin: auto;
    border-radius: 50%;
}
.bamboo{
    background-color: burlywood;
    height: 800px;
    width: 20px;
    display: flex;
}
#natinal{
    display: flex;
}